{% load static %}
{%load bootstrap5%}
{%bootstrap_css%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock title %}
        </title>
</head>
<body>
    {% include './navbar.html' %}

    {% block header %}
        
    {% endblock header %}
        
    {% block content %}
        
    {% endblock content %}
    
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block jsExtra %}

    {% endblock jsExtra %}
    
    {% include './footer.html' %}
</body>
</html>