{% extends 'base/body.html' %}
{%load crispy_forms_tags%}
{%load bootstrap5%}
{%bootstrap_css%}
{% load bootstrap_icons %}

{% block title %}
    Detalles de Cliente - MINERVA
{% endblock title %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col col-lg-5">
        <div class="card">
            <div class="card-header">
              Detalles de Cliente 
            </div>
            <div class="card-body">
              <h5 class="card-title">Cliente {{object.iden}} : {{object.nombre}} {{object.apellidos}}</h5>
              <p class="card-text">Datos de Cliente:</p>
              <p class="card-text">Nombres: {{object.nombre}} {{object.apellidos}}</p>
              <p class="card-text">Direccion: {{object.direccion}}</p>
              <p class="card-text">Correo: {{object.correo}}</p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a  class="btn btn-primary" href="/personas/clientes/">Atrás</a>
                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Actualizar Datos de Cliente
                  </button>
                <a  class="btn btn-danger" href="{% url 'personas:clienteBorrar' object.iden %}">Borrar Datos Cliente</a>
                
              </div>
             
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Detalles de Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
            <div class="modal-body">
            
                {% csrf_token %}
                {{form|crispy}}
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="submit">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
    